body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: rgb(198,199,198)
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

tab {
    display: inline-block;
    margin-left: 495px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #343434;
    color: white;
    text-align: center;
}

header {
    height: 90px;
    background: #343434;
    width: 100%;
    z-index: 10;
    position: fixed;
    top: -10px;
}

.BankLogo {
    float: left;
    height: 90px;
    margin-top: -82.5px;
}

header h1 {
    font-size: 51px;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: white;
    font-weight: 600;
    text-align: center;
}
